Il bene da lei richiesto è disponibile!

 L'amministratore ATA ha appena segnalato che il bene acquistato su sua richiesta è addesso disponibile

 Ecco i dettagli del bene:

 Quantità: <%= @tool.quantity %>

  Nome:  <%= @tool.name %>

 Descrizione:

 <%= @tool.description %>


 Adesso il bene è disponibile per essere prenotato 

 Cordiali Saluti
