<style>
.scrollspy-example {
  position: relative;
}
</style>

<h1> Dashboard </h1>
<hr>

<!-- start row -->
<div class="row">

  <!-- start prof col -->
  <div class="col-xl-3 col-sm-6 mb-3">
    <!-- start prof card -->
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-graduation-cap"></i>
        </div>
        <div class="mr-5"><%= @newprofs %> <% if @newprofs == 1 %> <%= t('.newprof')%> <% else %> <%= t('.newprofs') %> <% end %> </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#list-item-1">
        <span class="float-left"> <%= t('.details') %> </span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
    <!-- end prof card -->
  </div>
  <!-- end prof col -->

  <!-- start reportings col -->
  <div class="col-xl-3 col-sm-6 mb-3">
    <!-- start reportings card -->
    <div class="card text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-exclamation-triangle"></i>
        </div>
        <div class="mr-5"> <%= @reportings.count %> <% if @reportings.count == 1 %><%= t('.newreporting') %> <% else %> <%= t('.newreportings') %> <% end %> </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#list-item-2">
        <span class="float-left"> <%= t('.details') %></span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
    <!-- end reportings card -->
  </div>
  <!-- end reportings col -->

  <!-- start request col -->
  <div class="col-xl-3 col-sm-6 mb-3">
    <!-- start request card -->
    <div class="card text-white bg-success o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-shopping-cart"></i>
        </div>
        <div class="mr-5"><%= @requests.count %> <% if @requests.count == 1 %><%= t('.newrequest') %> <% else %> <%= t('.newrequests') %> <% end %> </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#list-item-3">
        <span class="float-left"> <%= t('.details') %></span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
    <!-- end requests card -->
  </div>
  <!-- end requests col -->

  <!-- start bookings col -->
  <div class="col-xl-3 col-sm-6 mb-3">
    <!-- start booking card -->
    <div class="card text-white bg-danger o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-bookmark"></i>
        </div>
        <div class="mr-5"> <%= @bookings.count %> <% if @bookings.count == 1 %><%= t('.newbooking') %> <% else %> <%= t('.newbookings') %> <% end %> </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#list-item-4">
        <span class="float-left"><%= t('.details') %></span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
    <!-- end bookings card -->
  </div>
  <!-- end bookings row -->
</div>
<!-- end row -->

<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">

  <h4 id="list-item-1"> <%= t('.profs') %> </h4>
  <hr>
  <br>

  <!-- start row -->
  <div class="row">
    <!-- start loop -->
    <% @profs.each do |prof| %>
      <!-- start col -->
      <div class="col-lg-3 col-sm-4 portfolio-item">
        <!-- start card -->
        <div class="card h-100">
          <div class="card-header">
            <%= prof.name + " " + prof.surname %>
            <small id="edited" class="form-text text-muted">
              <%= t('.registered_at') + ": " + prof.created_at.strftime("%d/%m/%y %k:%M") %>
            </small>
          </div>
          <div class="card-body">
            <%= mail_to prof.email %>
            <br>
            <%= t('.bookings') + ": " + prof.books.count.to_s %>
            <br>
            <%= t('.requests') + ": " + prof.requests.count.to_s %>
          </div>
          <!-- if a prof has not been authorized by admin, the admin can authorize him or, if the prof never have made bookings and/or requests the admin can delete him -->
          <!-- if a prof has been authorized by the administrator, the administrator may no longer authorize him -->
          <% if prof.authorized == false %>
            <ul class="list-group list-group-flush">
              <%= link_to t('.authorize'),  admin_authorize_route_path(prof.id), method: :post, class:"list-group-item list-group-item-success" %>
              <% if prof.books.present? == false && prof.requests.present? == false %>
                <%= link_to fa_icon('trash') + " " + t('.delete'), admin_deleteprof_route_path(prof.id), data: { confirm: t('admin.tools.index.confirm') }, method: :delete, class:"list-group-item list-group-item-danger" %>
              <% end %>
            </ul>
          <% else %>
            <ul class="list-group list-group-flush">
              <%= link_to t('.block'),  admin_authorize_route_path(prof.id), method: :post, class:"list-group-item list-group-item-danger" %>
            </ul>
          <% end %>
        </div>
        <!-- end card -->
      </div>
    <%end%>
    <!-- end loop -->
  </div>
  <!-- end row -->

  <h4 id="list-item-2"><%= t('.reportings') %></h4>
  <hr>
  <br>

  <!-- start row item 2 -->
  <div class="row">
    <!-- start loop -->
    <% @reportings.each do |reporting| %>
      <!-- start col -->
      <div class="col-md-4">
        <!-- start card -->
        <div class="card text-white bg-warning mb-3">
          <div class="card-header">
            <h4 class="card-title">
              <%= image_tag(reporting.tool.photo.thumb.url, alt: "toolphoto.jpeg") %> <%= reporting.tool.name %>
              <small>
                <%= t('tools.show.quantity') + ": " + reporting.quantity.to_s %>
              </small>
            </h4>
          </div>
          <div class="card-body">
            <p class="card-text"> <%= simple_format(reporting.description) %> </p>
            <p class="card-text"> <%= reporting.lab.name %> </p>
          </div>
          <div class="card-footer">
            <!-- for more info about policy of reportings see controllers/admin/reportings_controller.rb -->
            <%= link_to t('.dismiss'), admin_dismiss_route_path(reporting), method: :post, data: {confirm: t('.irreversible')}, class:"btn btn-outline-danger" %>
            <% if reporting.tool.identifier.present? %>
              <%= link_to t('.replace'), admin_replace_route_path(reporting), method: :post, data: {confirm: t('.irreversible')}, class:"btn btn-outline-secondary" %>
              <%= link_to t('.fix'), admin_fix_route_path(reporting), method: :post, data: {confirm: t('.irreversible')}, class:"btn btn-outline-info" %>
            <% else %>
              <%= link_to t('.fixorrepair'), admin_fix_route_path(reporting), method: :post, data: {confirm: t('.irreversible')}, class:"btn btn-outline-success" %>
            <% end %>
          </div>
        </div>
        <!-- end card -->
      </div>
      <!-- end row -->
    <% end %>
    <!-- end loop -->
  </div>
  <!-- end row item 2 -->

  <h4 id="list-item-3"><%= t('.requests') %></h4>
  <hr>
  <br>

  <!-- start loop -->
  <% @requests.each do |request| %>
  <!-- start card -->
    <div class="card text-white bg-success mb-3">
      <div class="card-header">
        <span class="small float-right text-muted">
          <!-- for more info about role and requests policy, see controllers/admin/requests_controller.rb -->
          <% if current_admin.role == 0 %>
          <%= form_for ([:admin, request]) do |t|  %>
            <%= hidden_field(:request, :approved, :value => true) %>
            <%= t.submit t('.requestconfirm'), data: {confirm: t('admin.tools.index.confirm')}, class: "btn btn-warning" %>
          <% end %>
          <% elsif current_admin.role == 1 %>
          <%= form_for ([:admin, request]) do |t|  %>
            <%= hidden_field(:request, :money, :value => true) %>
            <%= t.submit t('.requestconfirm'), data: {confirm: t('admin.tools.index.confirm')}, class: "btn btn-warning" %>
          <% end %>
          <% else %>
          <%= form_for ([:admin, request]) do |t|  %>
            <%= hidden_field(:request, :arrived, :value => true) %>
            <%= t.submit t('.requestconfirm'), data: {confirm: t('admin.tools.index.confirm')}, class: "btn btn-warning " %>
          <% end %>
          <% end %>
        </span>
        <span class="small float-right text-muted">
          <%= link_to fa_icon('eye') + " " + t('tools.index.show'), admin_request_path(request), class:"btn btn-primary" %>
        </span>
        <h4 class="card-title">
          <%= image_tag(request.photo.thumb.url, alt:"Photo") %>
          <%= request.name %>
        </h4>
      </div>
      <div class="card-body">
        <b> <%= t('.description') %>: </b>
        <br>
        <%= simple_format(request.description) %>
        <hr>
        <b> <%= t('.goal') %>: </b>
        <br>
        <%= simple_format(request.goal) %>
      </div>
      <div class="card-footer">
        <% if request.prof.present? %>
          <h4>  <%= request.prof.name + " " + request.prof.surname %> </h4>
        <% else %>
          <h4> <%= request.technical.name + " " + request.technical.surname %> </h4>
        <% end %>
      </div>
    </div>
    <!-- end card -->
  <% end %>
  <!-- end loop -->


  <h4 id="list-item-4"><%= t('.bookings') %></h4>
  <hr>
  <br>

  <!-- start row item 4 -->
  <div class="row">
    <!-- start loop -->
    <% @bookings.each do |booking| %>
      <!-- start col -->
      <div class="col-md-4">
        <!-- start card -->
        <div class="card h-100">
          <div class="card-header">
             <p class="card-title"> <%= image_tag(booking.tool.photo.thumb.url, alt:"Photo") %> <%= booking.tool.name %> </p>
             <h5> <%= booking.prof.name + " " + booking.prof.surname %> </h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              <b>
                <%= t('tools.show.from') + " " + booking.start_date.strftime("%d/%m/%y %k:%M") + " " %>
                <br>
                <%= t('tools.show.to') + " " + booking.end_date.strftime("%d/%m/%y %k:%M") %>
              </b>
            </p>
            <p class="card-text"> <i> <%= t('tools.show.quantity') + " " + booking.quantity.to_s %> </i> </p>
            <p class="card-text"> <%= simple_format(booking.goal) %> </p>
          </div>
          <%= form_for ([:admin, booking]) do |t|  %>
            <%= hidden_field(:book, :confirmed, :value => true) %>
            <%= t.submit t('admin.tools.show.confirmbooking'), data: {confirm: t('.confirm')}, class:"btn btn-success btn-block" %>
          <% end %>
          <ul class="list-group list-group-flush">
            <%= link_to fa_icon('trash') + " " + t('admin.tools.show.reject'), admin_book_path(booking), method: :delete, data: {confirm: t('.confirm')}, class:"list-group-item list-group-item-danger"%>
          </ul>
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    <% end %>
  </div>
  <!-- end row item 4 -->
</div>
