<% tool_lab #this method is defined in helpers/technical/reportings_helper.rb %>
<div class="row">
  <div class="col-md-4 col-sm-4">
    <h4> <%= image_tag(@tool.photo.thumb.url, alt: "Photo") %> <%= @tool.name %> </h4>
  </div>
  <div class="col-md-4 col-sm-4">
    <h4> <%= t('technical.reportings.new.quantity') + ": " + @tool.quantity.to_s %> </h4>
  </div>
  <div class="col-md-4 col-sm-4">
    <h2> <%= fa_icon('flask') + " " + @lab.name %> </h2>
  </div>
</div>
<hr>

<%= form_for ([:technical, @tool, @lab, @reporting]) do |t|  %>

  <% if @reporting.errors.any? %>
    <div id="error_explanation">
      <% @reporting.errors.full_messages.each do |message| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="form-group" >
        <%= t.label t('technical.reportings.new.description') %>
        <%= t.text_area :description, class:"form-control" %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <%= t.label t('technical.reportings.new.quantity') %>
        <%= t.text_field :quantity, class:"form-control" %>
      </div>
    </div>
  </div>

  <%= hidden_field(:reporting, :technical_id, :value => current_technical.id) %>
  <%= hidden_field(:reporting, :lab_id, :value => @lab.id) %>
  <%= hidden_field(:reporting, :tool_id, :value => @tool.id) %>

  <%= t.submit class:"btn btn-success" %>
<% end %>
