<style>

</style>



<!-- start row -->

<div class="row">
  <div class="col-lg-6">
    <h1> <%= t('technical.requests.index.requests') %> <%= link_to t('tools.index.newrequest'), new_request_path, class: "btn btn-outline-primary" %> </h1>
  </div>
    <div class="col-lg-6 ">
      <div class="list-group" id="list-tab" role="tablist">
      <a href="#notapproved" data-toggle="tab" class="list-group-item text-center list-group-item-action active">  <%= t('technical.requests.index.notapproved') %>  </a>
      <a href="#approved" data-toggle="tab" class="list-group-item text-center list-group-item-action">  <%= t('technical.requests.index.approved') %>  </a>
      <a href="#money" data-toggle="tab" class="list-group-item text-center list-group-item-action">  <%= t('technical.requests.index.money') %> </a>
      </div>
    </div>
</div>

<hr>
<!-- end row -->
<!-- start panel body -->
<div class="panel-body">
  <div class="tab-content">
    <div class="tab-pane fade in active show" id="notapproved">
      <h1> <%= t('technical.requests.index.notapproved') %> </h1>
      <hr>
      <!-- start row request not approved -->
      <div class="row">
        <% @notapproved.each do |request| %>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <%= image_tag(request.photo.thumb.url, alt: "Photo") %> <h5 class="card-title"><%= request.name %> </h5>
              </div>
              <div class="card-body">
                <p class="card-text text-truncate"> <%= request.description %> </p>
                <p class="card-text text-truncate"> <%= request.quantity %> </p>
                <p class="card-text text-truncate"> <%= request.goal %> </p>
              </div>
              <ul class="list-group list-group-flush">
                <%= link_to fa_icon('eye') + " " + t('tools.index.show'), request_path(request), class:"list-group-item list-group-item-warning" %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <!-- end row request not approved -->
    </div>

    <div class="tab-pane fade" id="approved">
      <h1> <%= t('technical.requests.index.approved') %> </h1>
      <hr>
      <!-- start row request approved -->
      <div class="row">
        <% @approved.each do |request| %>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <%= image_tag(request.photo.thumb.url, alt: "Photo") %> <h5 class="card-title"><%= request.name %> </h5>
              </div>
              <div class="card-body">
                <p class="card-text text-truncate"><%= request.description %></p>
                <p class="card-text text-truncate"><%= request.quantity %></p>
                <p class="card-text text-truncate"><%= request.goal %></p>
              </div>
              <ul class="list-group list-group-flush">
                <%= link_to fa_icon('eye') + " " + t('tools.index.show'), request_path(request), class:"list-group-item list-group-item-primary" %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <!-- end row request approved -->
    </div>

    <div class="tab-pane fade" id="money">
      <h1> <%= t('technical.requests.index.money') %> </h1>
      <hr>
      <!-- start row request ordered -->
      <div class="row">
        <% @money.each do |request| %>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <%= image_tag(request.photo.thumb.url, alt: "Photo") %> <h5 class="card-title"><%= request.name %> </h5>
              </div>
              <div class="card-body">
                <p class="card-text text-truncate"><%= request.description %></p>
                <p class="card-text text-truncate"><%= request.quantity %></p>
                <p class="card-text text-truncate"><%= request.goal %></p>
              </div>
              <ul class="list-group list-group-flush">
                <%= link_to fa_icon('eye') + " " + t('tools.index.show'), request_path(request), class:"list-group-item list-group-item-success" %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <!-- end row request ordered -->
    </div>
  </div>
</div>
<!-- end panel body -->
