<h1> <%= t('.bookings') %> </h1>
<hr>

<div class="row">
  <% @bookings.each do |booking| %>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-header">
          <p class="card-title"> <%= image_tag(booking.tool.photo.thumb.url, alt:"Photo") %> <%= booking.tool.name %> </p>
          <% if booking.confirmed == false %>
            <div class="text-danger" >
              <h5> <%= t('.notapproved') %> </h5>
            </div>
          <% else %>
            <div class="text-success" >
              <h5> <%= t('.approved') %> </h5>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <p class="card-text">
            <b>
              <%= t('tools.show.from') + " " + booking.start_date.strftime("%d/%m/%y %k:%M") + " " %>
              <%= t('tools.show.to') + " " + booking.end_date.strftime("%d/%m/%y %k:%M") %>
            </b>
          </p>
          <p class="card-text"> <i> <%= t('tools.show.quantity') + " " + booking.quantity.to_s%> </i> </p>
          <p class="card-text"> <%= simple_format(booking.goal) %> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
