<style>
  .scroll-box {
    overflow-y: scroll;
    height: 200px;
    padding: 1rem
  }
</style>

<!-- Portfolio Item Heading -->
<h1 class="my-4"> <%= @tool.name %> <small> <%= t('.quantity') + ": " + @tool.quantity.to_s %></small> </h1>
<% @tool.reportings.each do |repo| %>
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">  <i class="fa fa-exclamation-triangle">  </i>  <%= " " + t('.warning') %>  </h4>
    <% if I18n.locale.to_s == "en" %>
      <% if repo.quantity == 1 %>
        <p>  <%= repo.quantity.to_s + " " %> has been reported due to malfunctions in the <%= " " + repo.lab.name + " " %> laboratory </p>
      <% else %>
        <p> <%= repo.quantity.to_s + " " %> have been reported due to malfunctions in the <%= " " + repo.lab.name + " " %> laboratory </p>
      <% end %>
    <% else %>
      <% if repo.quantity == 1 %>
        <p> <%= repo.quantity.to_s + " " %> è stato segnalato per malfunzionamenti nel laboratorio <%= " " + repo.lab.name + " " %> </p>
      <% else %>
        <p> <%= repo.quantity.to_s + " " %> sono stati segnalati per malfunzionamenti nel laboratorio <%= " " + repo.lab.name + " " %> </p>
      <% end %>
    <% end %>
    <hr>
    <p class="mb-0"> <%= simple_format(repo.description) %> </p>
    <footer class="blockquote-footer">
      <%= t('.technical') %> <cite title="Source Title"> <%= repo.technical.name + " " + repo.technical.surname %>  </cite>
    </footer>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8 col-md-7">
    <% if @tool.photo.present? %>
      <a href="#" data-toggle="modal" data-target="#exampleModalLong">
        <%= image_tag(@tool.photo_url, :alt => "toolphoto.jpeg", class:"img-fluid") %>
      </a>
    <% else %>
      <% image_tag("standard_toolphoto.jpeg", :alt => "toolphoto.jpeg", class:"img-fluid") %>
    <% end %>
    <br>
    <br>
    <%= link_to fa_icon('exclamation-triangle'), technical_tool_labs_path(@tool), class:"btn btn-warning btn-block" %>
  </div>
  <div class="col-lg-4 col-md-5">
    <h3 class="my-3"> <%= t('.description') %> </h3>
    <p> <%= simple_format(@tool.description) %></p>
    <div class="panel panel-default">
      <div class="card-header">
        <ul class="nav nav-pills">
          <li class="active"> <a href="#bookings" data-toggle="tab" class="btn btn-primary"> <%= t('.bookings') %> </a> </li>
          <li> <a href="#documentations" data-toggle="tab" class="btn btn-primary"> <%= t('.documentation') %> </a> </li>
        </ul>
      </div>

      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active scroll-box show" id="bookings">
            <% if @tool.books.where('end_date >= ? AND confirmed = ?', Time.now, true).present? %>
              <% @tool.books.where('end_date >= ? AND confirmed = ?', Time.now, true).each do |booking| %>
                <%= booking.prof.name + " " + booking.prof.surname %> <br>
                <%= t('.from') + " " %> <b> <%= booking.start_date.strftime("%d/%m/%y %k:%M").to_s + " " %> </b> <br>
                <%= t('.to') + " " %> <b> <%= booking.end_date.strftime("%d/%m/%y %k:%M").to_s %> </b>
                <br>
                <i> <%= t('.quantity') + ": " + booking.quantity.to_s %> </i>
                <hr>
              <%end%>
            <% else %>
              <%= t('.notbooked') %>
            <% end %>
          </div>

          <div class="tab-pane fade scroll-box" id="documentations">
            <% if @tool.documentations.present? %>
              <% @tool.documentations.each do |doc| %>
                <li class="list-group-item">
                  <%= link_to fa_icon('cloud-download'), doc.file.url %>
                  <%= " " + doc.name %>
                </li>
              <% end %>
            <% else %>
              <%= t('.notdocumented') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<h3 class="my-4"> <%= t('.otherphotos') %> </h3>
<div class="row">
  <% @tool.photos.each do |photo| %>
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#" data-toggle="modal" data-target="#exampleModalLong">
        <%= image_tag(photo.picture.standard.url, :alt => "booh", class:"img-fluid") %>
      </a>
    </div>
  <% end %>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= @tool.name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag(@tool.photo.standard.url, :alt => "booh", class:"d-block w-100") %>
            </div>
            <% @tool.photos.each do |photo| %>
              <div class="carousel-item">
                <%= image_tag(photo.picture.standard.url, :alt => "booh", class:"d-block w-100") %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
