<h1> <%= t('admin.shared.menu.tools') %> </h1>
<hr>
<!-- start row -->
<div class="row">
  <!-- start col -->
  <div class=" col-lg-3 col-md-5">
    <%= link_to t('.new'), new_admin_tool_path, class: "btn btn-primary btn-block" %>
    <hr>
    <div class="LI-profile-badge" width="100%" data-version="v1" data-size="medium" data-locale="<%= I18n.locale %>" data-type="vertical" data-theme="light" data-vanity="davide-fazio"><a class="LI-simple-link" href='https://it.linkedin.com/in/davide-fazio?trk=profile-badge'>Davide Fazio</a></div>
  </div>
  <!-- end col -->
  <!-- start col -->
  <div class="col-lg-9 col-md-7">
    <!-- start row into col -->
    <div class="row">
      <% @tools.each do |tool| %>
        <% if tool.name.present? %>
        <!-- start column -->
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <!-- start card -->
            <div class="card h-100">
              <% if tool.photo.standard.present? %>
                <%= link_to image_tag(tool.photo.standard.url, :alt => "toolphoto.jpeg", class:"card-img-top"), admin_tool_path(tool)%>
              <% else %>
                <%= link_to image_tag("standard_toolphoto.jpeg", :alt => "toolphoto.jpeg", class:"card-img-top"), admin_tool_path(tool)%>
              <% end %>
              <div class="card-body">
                <h4 class="card-title">
                  <%= tool.name %>
                </h4>
                <p class="card-text text-truncate">
                  <%= tool.description %>
                </p>
                <%= t('.unconfirmedbookings') + " " %>
                <span class="badge badge-pill badge-primary">
                  <%= tool.books.where('end_date >= ? AND confirmed = ?', Time.now, false).count %>
                </span>
              </div>
              <ul class="list-group list-group-flush">
                <%= link_to fa_icon('eye') + " " + t('tools.index.show'), admin_tool_path(tool), class:"list-group-item list-group-item-primary" %>
              </ul>
            </div>
            <!-- end card -->
          </div>
          <!-- end column -->
        <% end %>
      <% end %>
    </div>
    <!-- end row into col -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->
<br>
<ul class="pagination justify-content-center">
  <%= paginate @tools %>
</ul>
