<style>
        .scroll-box {
            overflow-y: scroll;
            height: 200px;
            padding: 1rem
        }
</style>

<h1 class="my-4"> <%= @tool.name %> </h1>
<h3> <%= t('tools.show.quantity') + ": " + @tool.quantity.to_s %> </h3>
<br>
<!-- start row -->
<div class="row">
  <!-- start col -->
  <div class="col-lg-8 col-md-7">
    <% if @tool.photo.present? %>
      <a href="#" data-toggle="modal" data-target="#exampleModalLong">
        <%= image_tag(@tool.photo_url, :alt => "toolphoto", class:"img-fluid") %>
      </a>
    <% else %>
      <% image_tag("standard_toolphoto.jpeg", :alt => "toolphoto", class:"img-fluid") %>
    <% end %>
    <br>
    <br>
    <%= link_to t('.viewall'), admin_tool_books_path(@tool), class:"btn btn-block btn-info" %>
    <br>
    <!-- start collapse -->
    <div id="prenota">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <%=fa_icon('arrow-down') + " Conferma Prenotazioni!" %>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#prenota">
          <div class="card-body">
            <% @bookings.each do |booking| %>
              <div class="row">
                <div class="col-md-4">
                  <b>
                    <%= t('tools.show.from') + " " + booking.start_date.strftime("%d/%m/%y %k:%M") + " " %>
                    <br>
                    <%= t('tools.show.to') + " " + booking.end_date.strftime("%d/%m/%y %k:%M") %>
                  </b>
                </div>
                <div class="col-md-4">
                  <i>
                    <%= t('tools.show.quantity') + " " + booking.quantity.to_s%>
                  </i>
                  <br>
                  <p> <%= booking.goal %> </p>
                </div>
                <div class="col-md-4">
                  <h5> <%= booking.prof.name + " " + booking.prof.surname %> </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <%= form_for ([:admin, booking]) do |t|  %>
                    <%= hidden_field(:book, :confirmed, :value => true) %>
                    <%= t.submit "Conferma Prenotazione", class: "btn btn-success" %>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <%= link_to fa_icon('trash') + " Rifiuta", admin_book_path(booking), method: :delete, data: {confirm: t('.confirm')}, class:"btn btn-outline-danger"%>
                </div>
              </div>
              <hr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- end collapse -->
    <br>
    <!-- start row into col -->
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <%= link_to fa_icon('pencil') + " " + t('admin.tools.index.edit'), edit_admin_tool_path(@tool), class: "btn btn-warning btn-block" %>
      </div>
      <div class="col-md-4 col-sm-4">
        <%= link_to t('admin.tools.index.language'), admin_choose_tool_route_path(@tool), class: "btn btn-secondary btn-block" %>
      </div>
      <div class="col-md-4 col-sm-4">
        <%= link_to fa_icon('trash'), admin_tool_path(@tool), method: :delete, data: {confirm: t('.confirm')}, class: "btn btn-danger btn-block" %>
      </div>
    </div>
    <!-- end row into col -->
  </div>
  <!-- end col -->
  <!-- start col -->
  <div class="col-lg-4 col-md-5">
    <h3 class="my-3"> <%= t('tools.show.description') %> </h3>
    <p> <%= simple_format(@tool.description) %> </p>
    <!-- start panel -->
    
    <div class="panel panel-default">
      <div class="card-header">
        <ul class="nav nav-pills">
          <li class="active"> <a href="#bookings" data-toggle="tab" class="btn btn-primary"> <%= t('tools.show.bookings') %> </a> </li>
          <li> <a href="#documentations" data-toggle="tab" class="btn btn-primary">  <%= t('tools.show.documentation') %> </a> </li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active scroll-box show" id="bookings">
            <% if @tool.books.where('end_date >= ? AND confirmed = ?', Time.now, true).present? %>
              <% @tool.books.where('end_date >= ? AND confirmed = ?', Time.now, true).each do |booking| %>
                <%= booking.prof.name + " " + booking.prof.surname %> <br>
                <b>
                  <%= t('tools.show.from') + " " + booking.start_date.strftime("%d/%m/%y").to_s + " " + t('tools.show.to') + " " + booking.end_date.strftime("%d/%m/%y").to_s %>
                </b>
                <br>
                <i>
                  <%= t('tools.show.quantity') + ": " + booking.quantity.to_s %>
                </i>
                <hr>
              <%end%>
            <% else %>
              <%= t('tools.show.notbooked') %>
            <% end %>
          </div>
          <div class="tab-pane fade scroll-box" id="documentations">
            <% if @tool.documentations.present? %>
              <% @tool.documentations.each do |doc| %>
                <li class="list-group-item">
                  <%= link_to fa_icon('cloud-download'), doc.file.url %>
                  <%= " " + doc.name + " " %>
                  <%=link_to fa_icon('trash'), admin_tool_documentation_path(@tool, doc), method: :delete, data: {confirm: t('.confirm')}, class:"btn btn-outline-danger btn-sm"%>
                </li>
              <% end %>
            <% else %>
              <%= t('tools.show.notdocumented') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<h3 class="my-4"> <%= t('tools.show.otherphotos') %> </h3>
<div class="row">
  <% @tool.photos.each do |photo| %>
    <div class="col-md-3 col-sm-6 mb-4">
      <%= image_tag(photo.picture.standard.url, :alt => "booh", class:"img-fluid") %>
      <a href="#" data-toggle="modal" data-target="#exampleModalLong">
        <%= link_to fa_icon('trash'), admin_tool_photo_path(@tool, photo), method: :delete, data: {confirm: t('.confirm')}, class: "btn btn-outline-danger btn-block" %>
      </a>
    </div>
  <% end %>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> <%= @tool.name %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% if @tool.photo.present? %>
                <%= image_tag(@tool.photo_url, :alt => "booh", class:"d-block w-100") %>
              <% end %>
            </div>
            <% @tool.photos.each do |photo| %>
              <div class="carousel-item">
                <%= image_tag(photo.picture_url, :alt => "booh", class:"d-block w-100") %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
