<h1 class="my-4"> <%= @request.name %>
  <br>
  <small>
    <% if @request.prof.present? %>
      <p> <%= @request.prof.name + " " + @request.prof.surname %> </p>
    <% else %>
      <p> <%= @request.technical.name + " " + @request.technical.surname %> </p>
    <% end %>
  </small>
</h1>

<!-- start row -->
<div class="row">
  <!-- start col -->
  <div class="col-lg-8 col-md-7">
    <% if @request.photo.present? %>
      <a href="#" data-toggle="modal" data-target="#exampleModalLong">
        <%= image_tag(@request.photo_url, :alt => "toolphoto.jpeg", class:"img-fluid") %>
      </a>
    <% else %>
      <% image_tag("standard_toolphoto.jpeg", :alt => "toolphoto.jpeg", class:"img-fluid") %>
    <% end %>
    <br>
    <br>
    <h4> <%= t('tools.show.goal') %>: </h4>
    <p> <%= simple_format(@request.goal) %> </p>
    <hr>
    <% if current_admin.role == 0 %>
      <div class="row">
        <div class= "col-md-7">
          <%= form_for ([:admin, @request]) do |t|  %>
            <%= hidden_field(:request, :approved, :value => true) %>
            <%= t.submit t('admin.dashboard.index.requestconfirm'), data: {confirm: t('admin.tools.index.confirm')}, class: "btn btn-warning btn-block" %>
          <% end %>
        </div>
        <div clas="col-md-5">
          <%= link_to fa_icon('trash'), admin_request_path(@request), data: { confirm: t('admin.tools.index.confirm') }, method: :delete, class:"btn btn-danger btn-block" %>
        </div>
      </div>
    <% elsif current_admin.role == 1 %>
      <div class="row">
        <div class= "col-md-7">
          <%= form_for ([:admin, @request]) do |t|  %>
            <%= hidden_field(:request, :money, :value => true) %>
            <%= t.submit t('admin.dashboard.index.requestconfirm'), data: {confirm: t('admin.tools.index.confirm')}, class: "btn btn-warning btn-block" %>
          <% end %>
        </div>
        <div clas="col-md-5">
          <%= link_to fa_icon('trash'), admin_request_path(@request), data: { confirm: t('admin.tools.index.confirm') }, method: :delete, class:"btn btn-danger btn-block" %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class= "col-md-7">
          <%= form_for ([:admin, @request]) do |t|  %>
            <%= hidden_field(:request, :arrived, :value => true) %>
            <%= t.submit t('admin.dashboard.index.requestconfirm'), data: {confirm: t('admin.tools.index.confirm')}, class: "btn btn-warning btn-block" %>
          <% end %>
        </div>
        <div clas="col-md-5">
          <%= link_to fa_icon('trash'), admin_request_path(@request), data: { confirm: t('admin.tools.index.confirm') }, method: :delete, class:"btn btn-danger btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- end col -->
  <!-- start col -->
  <div class="col-lg-4 col-md-5">
    <h3> <%= t('tools.show.quantity') + ": " + @request.quantity.to_s %> </h3>

    <h3 class="my-3"> <%= t('tools.show.description') %> </h3>
    <p> <%= simple_format(@request.description) %></p>

    <ul class="list-group">
      <% @request.documentations.each do |doc| %>
        <li class="list-group-item">
          <%= link_to fa_icon('cloud-download'), doc.file.url %>
          <%= " " + doc.name + " " %>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<h3 class="my-4"> <%= t('tools.show.otherphotos') %> </h3>
<div class="row">
  <% @request.photos.each do |photo| %>
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#" data-toggle="modal" data-target="#exampleModalLong">
        <%= image_tag(photo.picture.standard.url, :alt => "booh", class:"img-fluid") %>
      </a>
    </div>
  <% end %>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> <%= @request.name %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag(@request.photo_url, :alt => "booh", class:"d-block w-100") %>
            </div>
            <% @request.photos.each do |photo| %>
              <div class="carousel-item">
                <%= image_tag(photo.picture_url, :alt => "booh", class:"d-block w-100") %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
